.footer {
    position: fixed;
    bottom: 0;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #58319e5e;
    padding: 10px
}

.item {
    margin: 50px;
}